@{
	Layout = "_AdminLayout";
}
@model IEnumerable<Stuffed_Animal_Shop.Models.Order>

<h1>Index</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.OrderId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.User.Email)
			</th> 
			<th>
				@Html.DisplayNameFor(model => model.Status)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CreatedAt)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UpdatedAt)
			</th>
			<th>
				Actions
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.OrderId)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.User.Email)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Status)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.CreatedAt)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.UpdatedAt)
			</td>
			<td>
				<a class="nav-link" id="@item.OrderId">Detail</a>
			</td>
		</tr>
		<tr class="contentforstuff" id="@item.OrderId">

		</tr>
}	
	</tbody>
</table>

@section Scripts {
	<script>
		//alert("wahhhh");

		$("a").click(function (e) {
			var orderId = $(this).attr("id");

			//alert(orderId);

			$.ajax({
				url: '@Url.Action("GetTheStuff", "Orders")',
				data: { yeaTheStuff: orderId },
				success: function (response) {
					//alert("ajax success!");

					$("tr.contentforstuff#" + orderId).html(response);
				},
				error: function (xhr, status, error) {
					//alert(xhr.status + "\n" + xhr.statusText + "\n" + xhr.responseText);
				}
			});
		});
	</script>
}