@{
	Layout = "_AdminLayout";
}
@model IEnumerable<Stuffed_Animal_Shop.Models.Order>

<h1>Index</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.OrderId)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.User)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Status)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.CreatedAt)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.UpdatedAt)
		</th>
		<th>
			Actions
		</th>
		<th></th>
	</tr>
	@{
		foreach (var item in Model)
		{
			<tr class="@(item.Status == "Delivered" ? "table-info" : "" )">
				<td>
					@Html.DisplayFor(modelItem => item.OrderId)
				</td>
				<td>
					@item.User.Email
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Status)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CreatedAt)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UpdatedAt)
				</td>
				<td>
					<a class="nav-link" style="color: hotpink" href="#!">Detail</a>
				</td>
			</tr>
			<tr class="contentforstuff">
			</tr>
		}
	}
</table>

@section Scripts {
	<script>
		//alert("wahhhh");

		$("a").click(function (e) {
			var test = $(this).parent().parent().children().first().html();
			var orderId = test.replace(/[^a-zA-Z0-9-]/g, "");
			var test2 = $(this).parent().parent().next('.contentforstuff');

			var test3 = $(this).parent().parent();

			// alert(orderId);

			// test2.html('<td>This is a hard-coded HTML element</td>');

			$.ajax({
				url: '@Url.Action("GetTheStuff", "Orders")',
				data: { yeaTheStuff: orderId },
				success: function (response) {
					// alert("ajax success!");

					$(response).insertAfter(test3);

					// test2.html(response);
				},
				error: function (xhr, status, error) {
					//alert(xhr.status + "\n" + xhr.statusText + "\n" + xhr.responseText);
				}
			});
		});
	</script>
}