@{
    var product = ViewBag.Product as Product;
    var colors = ViewBag.Colors as List<Color>;
    var sizes = ViewBag.Sizes as List<Size>;
}


<form asp-action="AddToCart" asp-controller="Cart" asp-route-productId="@product.ProductId" class="col-lg-7 pb-5">
    <h3 class="font-weight-semi-bold">@product.Name</h3>
    <div class="d-flex mb-3">
        <div class="text-primary mr-2">
            <small class="fas fa-star"></small>
            <small class="fas fa-star"></small>
            <small class="fas fa-star"></small>
            <small class="fas fa-star-half-alt"></small>
            <small class="far fa-star"></small>
        </div>
        <small class="pt-1">(50 Reviews)</small>
    </div>
    <h3 class="font-weight-semi-bold mb-4">$@product.Price</h3>
    <p class="mb-4">@product.Description</p>
    <div class="d-flex mb-3">
        <p class="text-dark font-weight-medium mb-0 mr-3">Sizes:</p>
        <div>
            @{
                foreach (Size size in sizes)
                {
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="@size.Name" name="SizeItem" value="@size.Name">
                        <label class="custom-control-label" for="@size.Name">@size.Name</label>
                    </div>
                }
            }
        </div>
    </div>
    <div class="d-flex mb-4">
        <p class="text-dark font-weight-medium mb-0 mr-3">Colors:</p>
        <div>
            @{
                foreach (Color color in colors)
                {
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="@color.Name" name="ColorItem" value="@color.Name">
                        <label class="custom-control-label text-capitalize" for="@color.Name">@color.Name</label>
                    </div>
                }
            }
        </div>
    </div>
    <div class="d-flex align-items-center mb-4 pt-2">
        <div class="input-group quantity mr-3" style="width: 130px;">
            <div class="input-group-btn">
                <button type="button" class="btn btn-primary btn-minus">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
            <input type="text" name="Count" class="form-control bg-secondary text-center" value="1">
            <div class="input-group-btn">
                <button type="button" class="btn btn-primary btn-plus">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <button class="btn btn-primary px-3" type="submit"><i class="fa fa-shopping-cart mr-1"></i> Add To Cart</button>
    </div>
    <div class="d-flex pt-2">
        <p class="text-dark font-weight-medium mb-0 mr-2">Share on:</p>
        <div class="d-inline-flex">
            <a class="text-dark px-2" href="">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a class="text-dark px-2" href="">
                <i class="fab fa-twitter"></i>
            </a>
            <a class="text-dark px-2" href="">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a class="text-dark px-2" href="">
                <i class="fab fa-pinterest"></i>
            </a>
        </div>
    </div>
</form>