@using Stuffed_Animal_Shop.ViewModels.Products;
@model EditProduct;

@{
    Layout = "_AdminLayout";
}

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Sizes:</label>
                <div class="checkbox d-flex gap-4">
                    <label>
                        <input type="checkbox" name="Sizes" value="SM" @(Model.Sizes.Contains("SM") ? "checked" : "" ) />
                        SM
                    </label>
                    <label>
                        <input type="checkbox" name="Sizes" value="M" @(Model.Sizes.Contains("M") ? "checked" : "")/>
                        M
                    </label>
                    <label>
                        <input type="checkbox" name="Sizes" value="L" @(Model.Sizes.Contains("L") ? "checked" : "") />
                        L
                    </label>
                    <label>
                        <input type="checkbox" name="Sizes" value="XL" @(Model.Sizes.Contains("XL") ? "checked" : "") />
                        XL
                    </label>
                    <label>
                        <input type="checkbox" name="Sizes" value="XXL" @(Model.Sizes.Contains("XXL") ? "checked" : "") />
                        XXL
                    </label>
                </div>
                <span asp-validation-for="Sizes" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Colors:</label>
                <div class="checkbox d-flex gap-4" style="width: 600px;">
                    <label>
                        <input type="checkbox" name="Colors" value="red" @(Model.Colors.Contains("red") ? "checked" : "") />
                        Red
                    </label>
                    <label>
                        <input type="checkbox" name="Colors" value="blue" @(Model.Colors.Contains("blue") ? "checked" : "") />
                        Blue
                    </label>
                    <label>
                        <input type="checkbox" name="Colors" value="green" @(Model.Colors.Contains("green") ? "checked" : "") />
                        Green
                    </label>
                    <label>
                        <input type="checkbox" name="Colors" value="yellow" @(Model.Colors.Contains("yellow") ? "checked" : "") />
                        Yellow
                    </label>
                    <label>
                        <input type="checkbox" name="Colors" value="purple" @(Model.Colors.Contains("purple") ? "checked" : "") />
                        Purple
                    </label>
                    <label>
                        <input type="checkbox" name="Colors" value="orange" @(Model.Colors.Contains("orange") ? "checked" : "") />
                        Orange
                    </label>
                    <label>
                        <input type="checkbox" name="Colors" value="black" @(Model.Colors.Contains("black") ? "checked" : "") />
                        Black
                    </label>
                </div>
                <span asp-validation-for="Colors" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" style="width: 600px; height: 300px;"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MainImage" class="control-label"></label>
                <input asp-for="MainImage" type="file" class="form-control" />
                <span asp-validation-for="MainImage" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Images" class="control-label"></label>
                <input asp-for="Images" type="file" multiple class="form-control" />
                <span asp-validation-for="Images" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
